<div class="container">
  <p><b><%= @blog.title %></b></p>
  <p><%= @blog.content %></p>
  <p><%= @blog.author.full_name %></p>
  <% if author_signed_in? && (current_author.id.eql? @blog.author.id) %>
  <p><%= link_to 'Edit', edit_blog_path(@blog) %>
  <p><%= link_to 'Destroy', blog_path(@blog), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <p><%= link_to 'Back', :back %></p>
</div>
