  <!DOCTYPE html>
  <html>
    <head>
      <title>Blogs</title>

      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert alert-warning"><%= alert %></p>
      <% end %>
      <!-- Navigation -->
      <nav id="nav" class="navbar fixed-top navbar-expand-sm" data-spy="affix">
      <div class="container">
            <%= link_to 'Poems', :blogs, class: "navbar-brand"  %>
          <a class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</a>
          <div class="navbar-collapse collapse">
              <ul class="ml-auto navbar-nav">
                <li class="nav-item">
                  <% if author_signed_in? %>
                    <%= link_to 'Sign out', :destroy_author_session, method: :delete, class: "nav-link" %>
                  <% else %>
                    <%= link_to 'Sign in', :new_author_session, class: "nav-link"  %>
                  <% end %>
                </li>
              </ul>
          </div>
      </div>
  </nav>
  <section class="first">
      <div class="container"></div>
  </section>
  <section id="services">
        <%= yield %>
  </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p class="copyright text-muted">Copyright &copy; Trillian 2018</p>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </html>
